body {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

#content {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #01ff01;
  width: 830px;
  padding: 20px 35px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  #content {
    width: 500px;
  }
}

@media (max-width: 600px) {
  body {
    background-color: black;
  }

  #content {
    width: 100vw;
  }
}
