.input {
  all: unset;
  border: 1px solid #01ff01;
  height: 22px;
  font-size: 22px;
  padding: 10px 15px;
  width: 300px;
  background-color: #000;
  color: #01ff01;
  text-align: center;
}

.input.disabled {
  border: 1px solid #008800;
  color: #008800;
}

.input::placeholder {
  color: #005500;
}
