@keyframes popupEnterAnimation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.popupWindow {
  width: 400px;
  padding: 0px;
  box-shadow: 0 0 10px #555;
  background-color: #111;
  color: #01ff01;
  border: 1px #01ff01 solid;

  animation-name: popupEnterAnimation;
  animation-duration: 350ms;
}

.popupTitle {
  display: flex;
  flex-direction: row;
  height: 30px;
  gap: 10px;
  line-height: 30px;
  font-size: 16px;
  font-family: monospace;
  border-bottom: 1px #01ff01 solid;
}

.popupCloseButton {
  flex-basis: 30px;
  flex-grow: 0;
  border: none;
  outline: none;
  background-color: #01ff01;
  color: black; 
  font-size: 30px;
  text-align: center;
  margin: 0;
  border-right: 1px#01ff01 solid;
  cursor: pointer;
}

.popupCloseButton:hover {
  background-color: #41ff41;
  color: #333;
}

.popupContent {
  margin: 15px 10px;
}
